<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600, initial-scale=1.0">
    <title>DEV-API</title>
</head>
<body>
    <h1>DEV Server Testing</h1>
    <p><%= data %></p>
</body>
</html>